# Basic types
## Numbers
There are only two types of numbers in python
 - integer
 - floating point
 
### Integers

In [ ]:
5

In [ ]:
5 + 6

In [ ]:
5 * 6

Numbers in quotation are considered strings

In [ ]:
'5' + '6'

The following statement will generate an error because python can't `sum` strings and numbers:
```py
'5' + 6
```

In [ ]:
'5' + 6

### Floating point

In [ ]:
5.1 + 2.2

### Conversion
In order to perform mathmatical operations with numbers in quotation (_strings_) one needs to convert that value to workable numbers

In [ ]:
int('5')

In [ ]:
float('5.1')

## Strings
String of characters that are treated as text

In [ ]:
'Hello String'

In [ ]:
"Hello Double Quotation"

### Escaping
Python uses backslash `( \\ )` for giving special meaning to some characters

Examples:
 - Don't do that
 - She said "I want this"
 - She said "I don't do that"

In [ ]:
# Examples:
# Don't do that
# She said "I want this"
# She said "I don't do that"

Other examples of escape characters:
 - `\n`: break line
 - `\t`: tab
 
### Length of a string

Example:

In [12]:
print(len('Python')) # 6 letters

6

### String manipulation
#### Concatenation
"Glue" strings together

In [ ]:
'Hello, ' + "Class"

In [ ]:
'H' + 'e' + 'l' + 'l' + 'o'

#### Conversion
The following statement will generate an error because python can't `concatenate` strings and numbers:
```py
'I have ' + 6 + ' apples'
```

In order to concatenate numbers to string it is necessary to convert the numbers to string

In [ ]:
'I have ' + 6 + ' apples'

In [ ]:
'I have ' + str(6) + ' apples'

### Accessing elements in string
> Strings' indexation starts from 0 and ends at the size of the string - 1

#### Accesssing each element

In [10]:
print('Python'[0])
print('Python'[1])
print('Python'[2])
print('Python'[3])
print('Python'[4])
print('Python'[5])

P
y
t
h
o
n

#### Accessing the last element

In [13]:
txt = input('Say something: ')
last_element = len(txt) - 1

print(txt[last_element])

Say something: something
g

In [14]:
txt = input('Say something: ')
print(txt[-1])

Say something: IFCE
E

### String functions
#### Split

In [ ]:
'Hello People'.split()

In [ ]:
'Hello     People'.split()

In [ ]:
'Hello People'.split('o')

In [ ]:
'HelloPeople'.split()

In [15]:
'user.name@ifce.edu.br'.split('@')

['user.name', 'ifce.edu.br']

In [16]:
'user.name@ifce.edu.br'.split('@')[1].split('.')

['ifce', 'edu', 'br']

#### Replace

In [4]:
'Hello People'.replace('H', 'J')

'Jello People'

In [3]:
'Hello People'.replace('People', 'Shot')

'Hello Shot'

In [5]:
'Hello People'.replace('Class', 'River')

'Hello People'

In [18]:
'Hello People'.replace('H', 'J').replace('People', 'Shot')

'Jello Shot'

find
rfind
startswith
endswith

strip
rjust

capitalize
swapcase
title
upper
lower

#### Case functions

In [31]:
name = 'john SNOW'

print(1, name.upper()) # All upper
print(2, name.lower()) # All lower
print(3, name.swapcase()) # swapped
print(4, name.title()) # First letter of each word upper
print(5, name.capitalize()) # Only the first letter upper

1 JOHN SNOW
2 john snow
3 JOHN snow
4 John Snow
5 John snow

#### Strip

Get rid of extra spaces

In [47]:
name = '   John Snow         ' # lots of spaces

print('>', name, '<') # Normal
print('>', name.strip(), '<') # No extra space
print('>', name.lstrip(), '<') # No extra space at the left side
print('>', name.rstrip(), '<') # No extra space at the right side
print('>', name.lstrip().rstrip(), '<') # Equivalent to .strip()

>    John Snow          <
> John Snow <
> John Snow          <
>    John Snow <
> John Snow <

#### Find

This function tries to finds a given string starting from the left and returns an index where that string starts

In [52]:
name = 'John Snow'
index = name.find('J')

print('The letter J is at the index ' + str(index))

The letter J is at the index 0

In [54]:
name = 'John Snow'
index = name.find('Snow')

print('The word John starts at ' + str(index))

The word John starts at 5

In [56]:
name = 'John Snow'
index = name.find('snow')

print('The word John starts at ' + str(index)) # -1 means not found

The word John starts at -1

In [65]:
name = 'John Snow'

first_o = name.find('o')
last_o = name.rfind('o') # starts from the right to the left side

print('Name: ' + name)
print('First \'o\': ' + str(first_o))
print('Last \'o\': ' + str(last_o))

Name: John Snow
First 'o': 1
Last 'o': 7

In [69]:
# Using case and find
name = 'John Snow'

print('S is at index', name.find('s'))
print('S is at index', name.lower().find('s'))

S is at index -1
S is at index 5

#### Startswith & Endswith

In [76]:
word = 'homecare'

print(word.startswith('home'))
print(word.startswith('care'))
print(word.endswith('care'))
print(word.endswith('home'))

print('-'*10)

print(word.startswith('Home'))
print(word.title().startswith('Home'))

True
False
True
False
----------
False
True

#### Justifying

In [85]:
first_name = 'John'
last_name = 'Snow'
age = 25

print('Name: ' + first_name)
print('Surname: ' + last_name)
print('Age: ' + str(age))

Name: John
Surname: Snow
Age: 25

In [86]:
# Ljust
print('Name: '.ljust(10) + first_name)
print('Surname: '.ljust(10) + last_name)
print('Age: '.ljust(10) + str(age))

Name:     John
Surname:  Snow
Age:      25

In [87]:
# Rjust
print('Name: '.rjust(10) + first_name)
print('Surname: '.rjust(10) + last_name)
print('Age: '.rjust(10) + str(age))

    Name: John
 Surname: Snow
     Age: 25

In [89]:
# Center
print('Name: '.center(10) + first_name)
print('Surname: '.center(10) + last_name)
print('Age: '.center(10) + str(age))

  Name:   John
Surname:  Snow
  Age:    25

## Exercice (Portuguese)

Escreva o programa a seguir:

Exemplo 1:

```
Digite o seu nome e sobrenome: john snow
Digite a sua idade: 25
Qual é a largura a ficha: 30

==============================
       FICHA CADASTRAL        
------------------------------
NOME:                     John
SOBRENOME:                SNOW
IDADE:                      25
==============================
```

Exemplo 2:

```
Digite o seu nome e sobrenome: Luther King
Digite a sua idade: 33
Qual é a largura a ficha: 50

==================================================
                 FICHA CADASTRAL                  
--------------------------------------------------
NOME:                                       Luther
SOBRENOME:                                    KING
IDADE:                                          33
==================================================
```

## Booleans
 - `True`
 - `False`

In [ ]:
True

In [ ]:
False

In [ ]:
'True'

#### Generating Booleans

In [ ]:
5 == 4

In [ ]:
5 is not 5

In [ ]:
5 is not 6

In [ ]:
'This' is "This"

In [ ]:
'True' is True

In [ ]:
'True' is str(True)

## Lists
 - Vectors / Arrays / Collections of items
 - Initialization: `[]`, `list()`
 - Items of mixed types
 - Indexation by numers
   - From 0 to n

In [ ]:
[] # or list()

In [ ]:
['Movies', 'Games', 'Playing', 'Python']

### Length
Use the built-in function `len()` to find the length of a list

In [ ]:
len(['Movies', 'Games', 'Playing', 'Python'])

### Indexing

In [ ]:
# 0         1        2          3        
['Movies', 'Games', 'Playing', 'Python'][0]

In [ ]:
# 0         1        2          3
['Movies', 'Games', 'Playing', 'Python'][3]

In [ ]:
# -4        -3       -2         -1
['Movies', 'Games', 'Playing', 'Python'][-1]

In [ ]:
# -4        -3       -2         -1
['Movies', 'Games', 'Playing', 'Python'][-2]

### Slicing
Slicing works by selecting part of an array accondingly with this semantics `[A:B]`, where `A` (the left term) is **included** and `B` (the right term) is **excluded**.

In [ ]:
# 0         1        2          3
['Movies', 'Games', 'Playing', 'Python'][0:2]

In [ ]:
# -4        -3       -2         -1
['Movies', 'Games', 'Playing', 'Python'][0:-2]

In [ ]:
# -4        -3       -2         -1
['Movies', 'Games', 'Playing', 'Python'][-4:-2]

In [ ]:
#  0         1        2          3
# -4        -3       -2         -1
['Movies', 'Games', 'Playing', 'Python'][-4:2]

In [ ]:
# 0         1        2          3
['Movies', 'Games', 'Playing', 'Python'][:2]

In [ ]:
# 0         1        2          3
['Movies', 'Games', 'Playing', 'Python'][2:]

### Change items
#### Individually

In [ ]:
#       0         1        2          3
arr = ['Movies', 'Games', 'Playing', 'Python']

# Changes
arr[0] = 'A'
arr[1] = 'B'
arr[2] = 0

# Showing
print(arr)

#### Multiple

In [ ]:
#       0         1        2          3
arr = ['Movies', 'Games', 'Playing', 'Python']

# Changes
arr[0:3] = ['A', 'B', 0]

# Showing
print(arr)

In [ ]:
#       0         1        2          3
arr = ['Movies', 'Games', 'Playing', 'Python']

# Changes
arr[0:2] = ['A', 'B', 0]

# Showing
print(arr)

### Check if Item Exists

In [ ]:
'Python' in ['A', 'B', 0, 'Python']

In [ ]:
'0' in ['A', 'B', 0, 'Python']

In [ ]:
0 in ['A', 'B', 0, 'Python']

## Tuples
 - Vectors / Arrays / Collections of items
 - Initialization: `()`, `tuple()`
 - Items of mixed types
 - Indexation by numers
   - From 0 to n

In [ ]:
('A', 'B', 0, 'Python')

In [ ]:
('A', 'B', 0, 'Python')[-1]

Tuples are unchangeable, one can not switch its items. For example, the following statement will yield an erro:
```py
   ('A', 'B', 0, 'Python')[0] = 'X' 
```

In [ ]:
('A', 'B', 0, 'Python')[0] = 'X'

## Dictionaries

 - Vectors / Arrays / Collections of items
 - Initialization: {}, dict()
 - Items of mixed types
 - Indexation by strings

Each position of a dictionary has a `key` and a `value`.

In [ ]:
{'name': 'Bob', 'lastname': 'Johnson', 'age': 27}

In [ ]:
{
    'name': 'Bob',
    'lastname': 'Johnson',
    'age': 27,
    'social': {
        'married': True,
        'partner': 'Alice',
        'children': ['Mary', 'John'],
    }
}

### Indexing

In [ ]:
{'name': 'Bob', 'lastname': 'Johnson', 'age': 27}['name']

In [ ]:
{'name': 'Bob', 'lastname': 'Johnson', 'age': 27}['age']

#### Indexing with numbers*
_*Possible depending on the dictionary_

In [ ]:
{'0': 'Bob', 0: 'Johnson'}[0]

## Type of a variable
The function `type` reveals the type or a variable

Examples:

In [1]:
print(type(10))
print(type(3.14))
print(type('this is a string type'))
print(type([0]))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>

----------------------
# Variables
In Python we can use variables for storing values, objects and function. It brings flexibility to the program.

In [ ]:
name = 'Bob'
age = 27

print('Hi, my name is ' + name)
print('I am ' + str(age) + ' years-old')

## Dinamically setting a variable
Variables can have their values stated in the code, can be produced for a calculation and can be inputted by an user

In [ ]:
name = input('Say your name: ')
age = input('Tell your age: ')

print('\nPresentation')
print('Hi, my name is ' + name)
print('I am ' + str(age) + ' years-old')

## Dinamically changing a variable
**Python is a dynamically-typed language** (in contrast with Java that is a statically-typed language). It means that it is possible to change the type of a variable during the executions of our program.

In [ ]:
name = 'Bob'
print(name)

name = 17
print(name + 10)

--------
# Built-in functions
 - `print`, `str`, `int`, `float`, `bool`
 - `len`: arrays, strings
 - `sorted`

#### `len`
Length of arrays, dictionaries, strings, etc

In [ ]:
len([3, 1, 4, 1, 5, 9, 2])

In [ ]:
len('H e l l o')

#### `sorted`
Sort arrays of the same type

In [ ]:
sorted([3, 1, 4, 1, 5, 9, 2])

In [ ]:
sorted(['P', 'y', 't', 'h', 'o'])

In [ ]:
sorted(['a', 'A', 'A1', '1', '0', '0.5', '0.3'])

**Note:** The following statement will yield an error because of mixed types:
```py
    sorted([1, 2, 3, '1', '2', '3'])
```

In [ ]:
sorted([1, 2, 3, '1', '2', '3']) # TypeError

<table>
	<thead>
		<tr><th colspan=5 class='h4 float'>Built-in functions</th></tr>
	</thead>
	<tbody>
		<tr><td>abs()</td><td>delattr()</td><td>hash()</td><td>memoryview()</td><td> set()</td></tr>
		<tr><td>all()</td><td>dict()</td><td>help()</td><td>min()</td><td> setattr()</td></tr>
		<tr><td>any()</td><td>dir()</td><td>hex()</td><td>next()</td><td> slice()</td></tr>
		<tr><td>ascii()</td><td>divmod()</td><td>id()</td><td>object()</td><td> sorted()</td></tr>
		<tr><td>bin()</td><td>enumerate()</td><td>input()</td><td>oct()</td><td> staticmethod()</td></tr>
		<tr><td>bool()</td><td>eval()</td><td>int()</td><td>open()</td><td> str()</td></tr>
		<tr><td>breakpoint()</td><td>exec()</td><td>isinstance()</td><td>ord()</td><td> sum()</td></tr>
		<tr><td>bytearray()</td><td>filter()</td><td>issubclass()</td><td>pow()</td><td> super()</td></tr>
		<tr><td>bytes()</td><td>float()</td><td>iter()</td><td>print()</td><td> tuple()</td></tr>
		<tr><td>callable()</td><td>format()</td><td>len()</td><td>property()</td><td> type()</td></tr>
		<tr><td>chr()</td><td>frozenset()</td><td>list()</td><td>range()</td><td> vars()</td></tr>
		<tr><td>classmethod()</td><td>getattr()</td><td>locals()</td><td>repr()</td><td> zip()</td></tr>
		<tr><td>compile()</td><td>globals()</td><td>map()</td><td>reversed()</td><td> __import__()</td></tr>
		<tr><td>complex()</td><td>hasattr()</td><td>max()</td><td>round()</td><td></td></tr>
	</tbody>
</table>