# Basic types
## Numbers
There are only two types of numbers in python
 - integer
 - floating point
 
### Integers

In [4]:
5

5

In [7]:
5 + 6

11

In [16]:
5 * 6

30

Numbers in quotation are considered strings

In [10]:
'5' + '6'

'56'

The following statement will generate an error because python can't `sum` strings and numbers:
```py
'5' + 6
```

In [15]:
'5' + 6

TypeError: can only concatenate str (not "int") to str

### Floating point

In [11]:
5.1 + 2.2

7.3

### Conversion
In order to perform mathmatical operations with numbers in quotation (_strings_) one needs to convert that value to workable numbers

In [12]:
int('5')

5

In [14]:
float('5.1')

5.1

## Strings
String of characters that are treated as text

In [17]:
'Hello String'

'Hello String'

In [18]:
"Hello Double Quotation"

'Hello Double Quotation'

### Escaping
Python uses backslash `( \\ )` for giving special meaning to some characters

Examples:
 - Don't do that
 - She said "I want this"
 - She said "I don't do that"

In [19]:
# Examples:
# Don't do that
# She said "I want this"
# She said "I don't do that"

Other examples of escape characters:
 - `\n`
 - `\t`
 - `\r`

### String manipulation
#### Concatenation
"Glue" strings together

In [22]:
'Hello, ' + "Class"

'Hello, Class'

In [23]:
'H' + 'e' + 'l' + 'l' + 'o'

'Hello'

#### Conversion
The following statement will generate an error because python can't `concatenate` strings and numbers:
```py
'I have ' + 6 + ' apples'
```

In order to concatenate numbers to string it is necessary to convert the numbers to string

In [26]:
'I have ' + 6 + ' apples'

TypeError: can only concatenate str (not "int") to str

In [27]:
'I have ' + str(6) + ' apples'

'I have 6 apples'

#### Split

In [35]:
'Hello People'.split()

['HelloPeople']

In [36]:
'Hello People'.split('o')

['Hell', ' Pe', 'ple']

In [38]:
'HelloPeople'.split()

['HelloPeople']

## Booleans
 - `True`
 - `False`

In [40]:
True

True

In [42]:
False

False

In [44]:
'True'

'True'

#### Generating Booleans

In [46]:
5 == 4

False

In [47]:
5 is not 5

False

In [48]:
5 is not 6

True

In [50]:
'This' is "This"

True

In [51]:
'True' is True

False

In [52]:
'True' is str(True)

True

## Lists
 - Vectors / Arrays / Collections of items
 - Initialization: `[]`, `list()`
 - Items of mixed types
 - Indexation by numers
   - From 0 to n

In [54]:
[] # or list()

[]

In [57]:
['Movies', 'Games', 'Playing', 'Python']

['Movies', 'Games', 'Python']

### Length
Use the built-in function `len()` to find the length of a list

In [97]:
len(['Movies', 'Games', 'Playing', 'Python'])

4

### Indexing

In [78]:
# 0         1        2          3        
['Movies', 'Games', 'Playing', 'Python'][0]

'Movies'

In [79]:
# 0         1        2          3
['Movies', 'Games', 'Playing', 'Python'][3]

'Python'

In [81]:
# -4        -3       -2         -1
['Movies', 'Games', 'Playing', 'Python'][-1]

'Python'

In [80]:
# -4        -3       -2         -1
['Movies', 'Games', 'Playing', 'Python'][-2]

'Playing'

### Slicing
Slicing works by selecting part of an array accondingly with this semantics `[A:B]`, where `A` (the left term) is **included** and `B` (the right term) is **excluded**.

In [82]:
# 0         1        2          3
['Movies', 'Games', 'Playing', 'Python'][0:2]

['Movies', 'Games']

In [84]:
# -4        -3       -2         -1
['Movies', 'Games', 'Playing', 'Python'][0:-2]

['Movies', 'Games']

In [91]:
# -4        -3       -2         -1
['Movies', 'Games', 'Playing', 'Python'][-4:-2]

['Movies', 'Games']

In [93]:
#  0         1        2          3
# -4        -3       -2         -1
['Movies', 'Games', 'Playing', 'Python'][-4:2]

['Movies', 'Games']

In [1]:
# 0         1        2          3
['Movies', 'Games', 'Playing', 'Python'][:2]

['Movies', 'Games']

In [2]:
# 0         1        2          3
['Movies', 'Games', 'Playing', 'Python'][2:]

['Playing', 'Python']

### Change items
#### Individually

In [138]:
#       0         1        2          3
arr = ['Movies', 'Games', 'Playing', 'Python']

# Changes
arr[0] = 'A'
arr[1] = 'B'
arr[2] = 0

# Showing
print(arr)

['A', 'B', 0, 'Python']

#### Multiple

In [147]:
#       0         1        2          3
arr = ['Movies', 'Games', 'Playing', 'Python']

# Changes
arr[0:3] = ['A', 'B', 0]

# Showing
print(arr)

['A', 'B', 0, 'Python']

In [150]:
#       0         1        2          3
arr = ['Movies', 'Games', 'Playing', 'Python']

# Changes
arr[0:2] = ['A', 'B', 0]

# Showing
print(arr)

['A', 'B', 0, 'Playing', 'Python']

### Check if Item Exists

In [152]:
'Python' in ['A', 'B', 0, 'Python']

True

In [125]:
'0' in ['A', 'B', 0, 'Python']

False

In [126]:
0 in ['A', 'B', 0, 'Python']

True

## Tuples
 - Vectors / Arrays / Collections of items
 - Initialization: `()`, `tuple()`
 - Items of mixed types
 - Indexation by numers
   - From 0 to n

In [127]:
('A', 'B', 0, 'Python')

('A', 'B', 0, 'Python')

In [131]:
('A', 'B', 0, 'Python')[-1]

'Python'

Tuples are unchangeable, one can not switch its items. For example, the following statement will yield an erro:
```py
   ('A', 'B', 0, 'Python')[0] = 'X' 
```

In [153]:
('A', 'B', 0, 'Python')[0] = 'X'

TypeError: 'tuple' object does not support item assignment

## Dictionaries

 - Vectors / Arrays / Collections of items
 - Initialization: {}, dict()
 - Items of mixed types
 - Indexation by strings

Each position of a dictionary has a `key` and a `value`.

In [113]:
{'name': 'Bob', 'lastname': 'Johnson', 'age': 27}

{'name': 'Bob', 'lastname': 'Johnson', 'age': 27}

In [106]:
{
    'name': 'Bob',
    'lastname': 'Johnson',
    'age': 27,
    'social': {
        'married': True,
        'partner': 'Alice',
        'children': ['Mary', 'John'],
    }
}

{'name': 'Bob',
 'lastname': 'Johnson',
 'age': 27,
 'social': {'married': True, 'partner': 'Alice', 'children': ['Mary', 'John']}}

### Indexing

In [108]:
{'name': 'Bob', 'lastname': 'Johnson', 'age': 27}['name']

'Bob'

In [109]:
{'name': 'Bob', 'lastname': 'Johnson', 'age': 27}['age']

27

#### Indexing with numbers*
_*Possible depending on the dictionary_

In [118]:
{'0': 'Bob', 0: 'Johnson'}[0]

'Johnson'

----------------------
# Variables
In Python we can use variables for storing values, objects and function. It brings flexibility to the program.

In [186]:
name = 'Bob'
age = 27

print('Hi, my name is ' + name)
print('I am ' + str(age) + ' years-old')

Hi, my name is Bob
I am 27 years-old

## Dinamically setting a variable
Variables can have their values stated in the code, can be produced for a calculation and can be inputted by an user

In [194]:
name = input('Say your name: ')
age = input('Tell your age: ')

print('\nPresentation')
print('Hi, my name is ' + name)
print('I am ' + str(age) + ' years-old')

Say your name: Name
Tell your age: Age

Presentation
Hi, my name is Name
I am Age years-old

## Dinamically changing a variable
**Python is a dynamically-typed language** (in contrast with Java that is a statically-typed language). It means that it is possible to change the type of a variable during the executions of our program.

In [190]:
name = 'Bob'
print(name)

name = 17
print(name + 10)

Bob
27

--------
# Built-in functions
 - `print`, `str`, `int`, `float`, `bool`
 - `len`: arrays, strings
 - `sorted`

#### `len`
Length of arrays, dictionaries, strings, etc

In [165]:
len([3, 1, 4, 1, 5, 9, 2])

7

In [163]:
len('H e l l o')

9

#### `sorted`
Sort arrays of the same type

In [166]:
sorted([3, 1, 4, 1, 5, 9, 2])

[1, 1, 2, 3, 4, 5, 9]

In [171]:
sorted(['P', 'y', 't', 'h', 'o'])

['P', 'h', 'o', 't', 'y']

In [181]:
sorted(['a', 'A', 'A1', '1', '0', '0.5', '0.3'])

['0', '0.3', '0.5', '1', 'A', 'A1', 'a']

**Note:** The following statement will yield an error because of mixed types:
```py
    sorted([1, 2, 3, '1', '2', '3'])
```

In [175]:
sorted([1, 2, 3, '1', '2', '3'])

TypeError: '<' not supported between instances of 'str' and 'int'

### Other built-in functions

| - | - | - | - | - |
| --- | --- | --- | --- | --- |
| abs() | delattr() | hash() | memoryview() | set() |
| all() | dict() | help() | min() | setattr() |
| any() | dir() | hex() | next() | slice() |
| ascii() | divmod() | id() | object() | sorted() |
| bin() | enumerate() | input() | oct() | staticmethod() |
| bool() | eval() | int() | open() | str() |
| breakpoint() | exec() | isinstance() | ord() | sum() |
| bytearray() | filter() | issubclass() | pow() | super() |
| bytes() | float() | iter() | print() | tuple() |
| callable() | format() | len() | property() | type() |
| chr() | frozenset() | list() | range() | vars() |
| classmethod() | getattr() | locals() | repr() | zip() |
| compile() | globals() | map() | reversed() | \__import\__() |
| complex() | hasattr() | max() | round() |