# Basic types
## Numbers
There are only two types of numbers in python
 - integer
 - floating point
 
### Integers

In [1]:
5

5

In [2]:
5 + 6

11

In [3]:
5 * 6

30

Numbers in quotation are considered strings

In [4]:
'5' + '6'

'56'

The following statement will generate an error because python can't `sum` strings and numbers:
```py
'5' + 6
```

In [5]:
'5' + 6

TypeError: must be str, not int

### Floating point

In [8]:
5.1 + 2.2

7.3

### Conversion
In order to perform mathmatical operations with numbers in quotation (_strings_) one needs to convert that value to workable numbers

In [9]:
int('5')

5

In [10]:
float('5.1')

5.1

## Strings
String of characters that are treated as text

In [11]:
'Hello String'

'Hello String'

In [12]:
"Hello Double Quotation"

'Hello Double Quotation'

### Escaping
Python uses backslash `( \\ )` for giving special meaning to some characters

Examples:
 - Don't do that
 - She said "I want this"
 - She said "I don't do that"

In [13]:
# Examples:
# Don't do that
# She said "I want this"
# She said "I don't do that"

Other examples of escape characters:
 - `\n`: break line
 - `\t`: tab
 
### Length of a string

Example:

In [14]:
print(len('Python')) # 6 letters

6

### String manipulation
#### Concatenation
"Glue" strings together

In [15]:
'Hello, ' + "Class"

'Hello, Class'

In [16]:
'H' + 'e' + 'l' + 'l' + 'o'

'Hello'

#### Conversion
The following statement will generate an error because python can't `concatenate` strings and numbers:
```py
'I have ' + 6 + ' apples'
```

In order to concatenate numbers to string it is necessary to convert the numbers to string

In [17]:
'I have ' + 6 + ' apples'

TypeError: must be str, not int

In [19]:
'I have ' + str(6) + ' apples'

'I have 6 apples'

### Accessing elements in string
> Strings' indexation starts from 0 and ends at the size of the string - 1

#### Accesssing each element

In [20]:
print('Python'[0])
print('Python'[1])
print('Python'[2])
print('Python'[3])
print('Python'[4])
print('Python'[5])

P
y
t
h
o
n

#### Accessing the last element

In [21]:
txt = input('Say something: ')
last_element = len(txt) - 1

print(txt[last_element])

Say something: Snow
w

In [22]:
txt = input('Say something: ')
print(txt[-1])

Say something: Snow
w

### String functions
#### Split

In [23]:
'Hello People'.split()

['Hello', 'People']

In [24]:
'Hello     People'.split()

['Hello', 'People']

In [25]:
'Hello People'.split('o')

['Hell', ' Pe', 'ple']

In [26]:
'HelloPeople'.split()

['HelloPeople']

In [27]:
'user.name@ifce.edu.br'.split('@')

['user.name', 'ifce.edu.br']

In [28]:
'user.name@ifce.edu.br'.split('@')[1].split('.')

['ifce', 'edu', 'br']

#### Replace

In [29]:
'Hello People'.replace('H', 'J')

'Jello People'

In [30]:
'Hello People'.replace('People', 'Shot')

'Hello Shot'

In [31]:
'Hello People'.replace('Class', 'River')

'Hello People'

In [32]:
'Hello People'.replace('H', 'J').replace('People', 'Shot')

'Jello Shot'

#### Case functions

In [33]:
name = 'john SNOW rei do norte'

#print(1, name.upper()) # All upper
#print(2, name.lower()) # All lower
#print(3, name.swapcase()) # swapped
#print(4, name.title()) # First letter of each word upper
print(5, name.capitalize()) # Only the first letter upper

5 John snow rei do norte

#### Strip

Get rid of extra spaces

In [34]:
name = '   John Snow         ' # lots of spaces

print('>', name, '<') # Normal
print('>', name.strip(), '<') # No extra space
print('>', name.lstrip(), '<') # No extra space at the left side
print('>', name.rstrip(), '<') # No extra space at the right side
print('>', name.lstrip().rstrip(), '<') # Equivalent to .strip()

>    John Snow          <
> John Snow <
> John Snow          <
>    John Snow <
> John Snow <

#### Find

This function tries to finds a given string starting from the left and returns an index where that string starts

In [35]:
name = 'John Snow'
index = name.find('J')

print('The letter J is at the index ' + str(index))

The letter J is at the index 0

In [36]:
name = 'John Snow'
index = name.find('Snow')

print('The word John starts at ' + str(index))

The word John starts at 5

In [37]:
name = 'John Snow'
index = name.find('snow')

print('The word John starts at ' + str(index)) # -1 means not found

The word John starts at -1

In [38]:
name = 'John Snow'

first_o = name.find('o')
last_o = name.rfind('o') # starts from the right to the left side

print('Name: ' + name)
print('First \'o\': ' + str(first_o))
print('Last \'o\': ' + str(last_o))

Name: John Snow
First 'o': 1
Last 'o': 7

In [39]:
# Using case and find
name = 'John Snow'

print('S is at index', name.find('s'))
print('S is at index', name.lower().find('s'))

S is at index -1
S is at index 5

#### Startswith & Endswith

In [40]:
word = 'homecare'

print(word.startswith('home'))
print(word.startswith('care'))
print(word.endswith('care'))
print(word.endswith('home'))

print('-'*10)

print(word.startswith('Home'))
print(word.title().startswith('Home'))

True
False
True
False
----------
False
True

#### Justifying

In [41]:
first_name = 'John'
last_name = 'Snow'
age = 25

print('Name: ' + first_name)
print('Surname: ' + last_name)
print('Age: ' + str(age))

Name: John
Surname: Snow
Age: 25

In [42]:
# Ljust
print('Name: '.ljust(10) + first_name)
print('Surname: '.ljust(10) + last_name)
print('Age: '.ljust(10) + str(age))

Name:     John
Surname:  Snow
Age:      25

In [43]:
# Rjust
print('Name: '.rjust(10) + first_name)
print('Surname: '.rjust(10) + last_name)
print('Age: '.rjust(10) + str(age))

    Name: John
 Surname: Snow
     Age: 25

In [44]:
# Center
print('Name: '.center(10) + first_name)
print('Surname: '.center(10) + last_name)
print('Age: '.center(10) + str(age))

  Name:   John
Surname:  Snow
  Age:    25

## Exercice (Portuguese)

Escreva o programa a seguir:

Exemplo 1:

```
Digite o seu nome e sobrenome: john snow
Digite a sua idade: 25
Qual é a largura a ficha: 30

==============================
       FICHA CADASTRAL        
------------------------------
NOME:                     John
SOBRENOME:                SNOW
IDADE:                      25
==============================
```

Exemplo 2:

```
Digite o seu nome e sobrenome: Luther King
Digite a sua idade: 33
Qual é a largura a ficha: 50

==================================================
                 FICHA CADASTRAL                  
--------------------------------------------------
NOME:                                       Luther
SOBRENOME:                                    KING
IDADE:                                          33
==================================================
```

## Booleans
 - `True`
 - `False`

In [45]:
True

True

In [46]:
False

False

In [47]:
'True'

'True'

#### Generating Booleans

In [48]:
5 == 4

False

In [49]:
5 is not 5

False

In [50]:
5 is not 6

True

In [51]:
'This' is "This"

True

In [52]:
'True' is True

False

In [53]:
'True' is str(True)

True